# History files
.Rhistory
.Rapp.history

# Data files
*.RData
*.feather
*.rds

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Dependency management files
.remake/

# don't need .remake or any tmp directories
*/tmp/*
!1_wqpdata/tmp/data/inventory*.ind

# These files are quick to build and get big, so we don't want to commit
tasks_*.yml
